* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 0 auto;
  width: 85vw;
  height: 84vh; /* Set the content height to 84vh */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog-detail {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.blog-picture-container {
  display: flex;
  width: 10vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-grow: 1;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.blog-picture {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.blog-content {
  padding: 20px;

  @media (min-width: 768px) {
    flex-grow: 2;
    padding: 0 20px;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.author {
  font-size: 24px;
  font-weight: 600;
}

.category {
  font-size: 18px;
  margin-top: 10px;
}

.description {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 20px;
}
