* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 0 auto;
  width: 85vw;
  padding: 20px;
}

.blog-detail {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.blog {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.blog-picture {
  height: 300px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 0 20px;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.author {
  font-size: 24px;
  font-weight: 600;
}

.category {
  font-size: 18px;
  margin-top: 10px;
}

.description {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 20px;
}
