.blog-detail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  max-width: 80vw;
  margin: 0 auto;
}

.blog-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.blog-image {
  max-width: 20vw;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.blog-image-container {
  flex-grow: 1;
  text-align: center;
}

.blog-info {
  flex-grow: 1;
}

.blog-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.author-name {
  font-weight: bold;
}

.category {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

.blog-description {
  font-size: 16px;
  line-height: 1.5;
}

.space-div{
  height: 8vh;
}

@media (max-width: 768px) {

  .blog-header {
    flex-direction: column;
    align-items: center;
  }

  .blog-image-container,
  .blog-info {
    text-align: center;
    margin: 10px 0;
  }

  .blog-image {
    max-width: 100%;
    margin-right: 0;
  }
}
